.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #d27219;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar{
      display: flex;
      align-items: center;
      text-align: center;
  }
